/* Roboto-Thin */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  src: url(/font/Roboto/Roboto-Thin.ttf) format('truetype');
}

/* Roboto-Light */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url(/font/Roboto/Roboto-Light.ttf) format('truetype');
}

/* Roboto-Regular */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url(/font/Roboto/Roboto-Regular.ttf) format('truetype');
}

/* Roboto-Medium */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url(/font/Roboto/Roboto-Medium.ttf) format('truetype');
}

/* Roboto-Bold */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url(/font/Roboto/Roboto-Bold.ttf) format('truetype');
}

/* Roboto-Black */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  src: url(/font/Roboto/Roboto-Black.ttf) format('truetype');
}

/* Roboto-Thin-Italic */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  src: url(/font/Roboto/Roboto-ThinItalic.ttf) format('truetype');
}

/* Roboto-Light-Italic */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  src: url(/font/Roboto/Roboto-LightItalic.ttf) format('truetype');
}

/* Roboto-Regular-Italic */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  src: url(/font/Roboto/Roboto-Italic.ttf) format('truetype');
}

/* Roboto-Meduim-Italic */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  src: url(/font/Roboto/Roboto-MediumItalic.ttf) format('truetype');
}

/* Roboto-Bold-Italic */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  src: url(/font/Roboto/Roboto-BoldItalic.ttf) format('truetype');
}

/* Roboto-Black-Italic */
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  src: url(/font/Roboto/Roboto-BlackItalic.ttf) format('truetype');
}


/* General */
html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

section, footer {
  padding: 125px 0;
}

/* Styles */
.content-container {
  margin: 0px auto;
  max-width: 1140px;
}