/* Tablet adaptive */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section, footer {
    padding: 100px 0;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 16px;
  }

  .content-container {
    width: calc(100% - 40px);
  }

  .about-section, .work-descripton-section {
    gap: 40px;
  }

  .bento-div {
    background-size: 90%;
  }

  .bento-div.primary, .bento-case-info, .bento-key-results {
    padding: 30px;
    min-height: initial;
  }

  .bento-grid.content {
    gap: 50px;
  }

  .bento-div.mobile-bg {
    padding: 25px;
  }

  .bento-grid.work.work-gap {
    margin-top: 60px;
  }

  .icon-view-div.external-link {
    right: 30px;
    top: 30px;
  }

  .tag-gray.error-properties {
    font-size: 100px;
  }
}